.todo-list {
    grid-column: 2;
    margin-top: 5rem;
    color: var(--color-text);
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(var(--color-primary), var(--color-primary)) padding-box,
                linear-gradient(135deg, rgba(140,140,140,1) 0%, rgba(0,0,0,1) 50%, rgba(140,140,140,1) 100%) border-box;
}
.header {
    padding: 1.5rem 2rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.header__opentodos {
    font-weight: bold;
    color: var(--color-accent-1);
}
.header__form {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.header__form input[type="text"] {
    width: 60%;
    padding: 0.5rem 0.75rem;
    color: var(--color-text);
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
}
.header__form input[type="submit"] {
    cursor: pointer;
    color: var(--color-text);
    border: 2px solid transparent;
    border-radius: 10em;
    padding: 0.5rem 0.75rem;
    background: linear-gradient(var(--color-primary), var(--color-primary)) padding-box,
                radial-gradient(circle, var(--color-accent-1) 25%, var(--color-accent-2) 50%, var(--color-accent-3) 75%, var(--color-accent-4) 100%) border-box;
}
.header__form input[type="submit"]:hover {
    background: var(--color-accent-2);
}
.todos {
    list-style-type: none;
    padding: 1.5rem 2rem;
}