.todo-list {
    grid-column: 2;
    margin-top: 5rem;
    color: var(--color-text);
    border-radius: 10px;
    border: 2px solid transparent;
    background: linear-gradient(var(--color-primary), var(--color-primary)) padding-box,
                linear-gradient(135deg, rgba(140,140,140,1) 0%, rgba(0,0,0,1) 50%, rgba(140,140,140,1) 100%) border-box;
}
.header {
    padding: 1.5rem 2rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}
.header__opentodos {
    font-weight: bold;
    color: var(--color-accent-1);
}
.todos {
    list-style-type: none;
    padding: 1.5rem 2rem;
}