:root {
  --color-base: #1E1E1E;
  --color-primary: #252526;
  --color-text: #fff;
  --color-accent-1: #ae278f;
  --color-accent-2: #ec006c;
  --color-accent-3: #ff0b39;
  --color-accent-4: #ff4700;
}
*, 
*::before, 
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, 
body {
  height: 100%;
  font-family: sans-serif;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #0F0F0F;
}
img, 
picture, 
video, 
canvas, 
svg {
  display: block;
  max-width: 100%;
}
input, 
button, 
textarea, 
select {
  font: inherit;
}
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
  margin: 0;
}
#root {
  isolation: isolate;
}